body{
    text-align: center;
    background-color: whitesmoke;
    height: 100%;
    margin: 0%;
}
header{
    background-color: aqua;
}
section{
    background-color: brown;
}
#section2{
    background-color: chartreuse;
}
#section3{
    background-color: chocolate;
}
#section4{
    background-color: cornflowerblue;
}
footer{
    background-color: darkgreen;
}